[submodule "Backend_Nebulon"]
	path = Backend_Nebulon
	url = https://github.com/Byte-Boost/Backend_Nebulon
[submodule "Frontend_Nebulon"]
	path = Frontend_Nebulon
	url = https://github.com/Byte-Boost/Frontend_Nebulon
